# Fastlane
*.ipa
*.dSYM.zip
*.mobileprovision
report.xml
Preview.html
screenshots
test_output
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output

# Service account (if accidentally saved)
play_store_key.json
*.json

# Fastlane session
fastlane_session.txt